/* checkout.css */

.checkout-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.checkout-header {
    text-align: center;
    margin-bottom: 20px;
}

.checkout-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    flex: 1;
    margin-right: 20px;
}

.right-section {
    flex: 1;
    margin-left: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-image {
    /* width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin-right: 10px; */
}

.address-input {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.payment-method-select {
    width: 100%;
    margin-bottom: 20px;
}

.order-summary {
    border: 1px solid #ddd;
    padding: 10px;
}

.place-order-button {
    width: 100%;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Responsive layout */
@media screen and (max-width: 768px) {
    .checkout-content {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        margin: 0;
    }
}
