.checkout-container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 45%;
    display: flex;
    flex: 2;
    flex-direction: column;
}

.right-container {
    /* width: 45%; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backtocart {
   width: 300px;
   height: 50px;
   margin-bottom: 20px;
}

.address,
.payment,
.cart-items {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.address h3,
.payment h3,
.cart-items h3 {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.address-input {
    height: 50px;
    flex: 2;
    /* display: flex; */
    justify-content: space-between;
}

.payment-method-select {
    flex: 2;
}

.cart-item-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product-image-container {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    margin-bottom: 20px; /* Add some spacing between rows */
}

.product-image-container .product-image {
    width: calc(33.33% - 10px); /* Each image takes 33.33% width of the container with some spacing */
    margin-bottom: 10px; /* Add some spacing between images */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.product-info {
    width: 100%; /* Make the product info div take full width */
    background-color: #f9f9f9; /* Add a background color */
    padding: 10px; /* Add some padding */
    box-sizing: border-box; /* Include padding in width calculation */
}


.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: left;
    display: none;
}

.product-image-container:hover .product-info {
    display: block;
}

.place-order-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-summary {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .checkout-container {
        flex-direction: column;
    }
    
    .left-container,
    .right-container {
        width: 100%;
    }

    .product-image-container {
        width: calc(50% - 10px); /* Adjust width for mobile view */
    }
}
